<% depart_date = depart_date.blank?? Date.today.to_s : depart_date %>
<div class="cd-flight-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div id="js_date_selection" class="horizontal-scrollable-tabs">
            <div class="scroller arrow-left"><i class="fa fa-chevron-left"></i></div>
            <div class="scroller arrow-right"><i class="fa fa-chevron-right"></i></div>
            <div class="horizontal-tabs">
              <ul role="tablist" class="nav nav-tabs nav-tabs-horizontal">
                <% Flight.departure_date_range.each do |date| %>
                <li role="presentation" class="<%= date.to_s == depart_date ? 'active' : '' %>">
                  <a href="#<%= pack(date) %>" data-toggle="tab">
                    <span class="day"><%= day(date) %><hr></span>
                    <%= short_month_day(date) %>
                  </a>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="tab-content single-table-content flight-content">
          <%= form_for(:flight_select, :url => select_path ) do |form| %>
            <div class="search-div">
                <%= form.submit 'Select Flight', class: 'btn btn-primary', disabled: true %>
            </div>
            <% flights_by_day = nil %>
            <% Flight.departure_date_range.each do |date| %>
                <div id="<%= pack(date) %>" role="tabpanel" class="tab-pane fade <%= date.to_s == depart_date ? 'in active' : '' %>">
                    <h2><%= full_date(date) %></h2>
                    <% flights_by_day = flights.by_day(date) %>
                    <% if flights.blank? %>
                        <span class="message"><%= no_flights_message %></span>
                    <% elsif flights_by_day.blank? %>
                        <span class="message"><%= no_flights_for_day_message %></span>
                        <ul class="available-dates">
                            <% flights.uniq_departure_dates.each do |flight_date| %>
                                <li>
                                    <button class="date-link" data-tab="<%= pack(flight_date) %>" onclick="viewDate();">
                                        <%= full_date(parse_date(flight_date)) %>
                                    </button>
                                </li>
                            <% end %>
                        </ul>
                    <% else %>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="">
                                    <th>Select</th>
                                    <th>Departure Address</th>
                                    <th>Destination</th>
                                    <th>Departure Date</th>
                                    <th>Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% flights_by_day.find_each do |flight|%>
                                        <tr>
                                            <td>
                                                <label class="control control-radio">
                                                    <%= radio_button_tag :flight_id, flight.id %>
                                                    <div class="control-indicator"></div>
                                                </label>
                                            </td>
                                            <td><%= flight.route.departure_airport.name %></td>
                                            <td><%= flight.route.arrival_airport.name %></td>
                                            <td><%= full_date_time(flight.departure_date) %></td>
                                            <td>
                                                <% flight.route.airfares.each do |airfare| %>
                                                    <table class="content-price">
                                                        <tbody>
                                                            <tr>
                                                                <td><%= airfare.travel_class.name %></td>
                                                                <td>
                                                                    <span class="currency" data-content="$"></span>
                                                                    <%= airfare.service_charge_in_dollar %>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                <% end %>
                                            </td>
                                        </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                    <% end %>
                </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
  </div>
</div> <!-- cd-flight-content -->

<script type="text/JavaScript">
  $("#js_date_selection").horizontalTabs();
</script>