<%= form_for @booking, :html => {:id => "booking_form"} do |form| %>
  <%= form.hidden_field :flight_id %>
  <%= hidden_field_tag :passenger_count, @passenger_count %>
  <%= form.hidden_field :user_id, value: current_user %>
  <%= form.fields_for :passengers do |passenger| %>
    <%= render 'passenger_fields', :f => passenger %>
  <% end %>
  <br>
  <div class="links pull-left">
    <%= link_to_add_association content_tag(:span, 'Add Passenger', class: "add_passenger"), form, :passengers, :class => 'btn btn-primary' %> 
  </div>
  <div class="total-cost pull-right">
    Total (USD <span class="dollar-total">0.00</span>):
    <span class="currency-total"> 0.00</span> 
    <%= form.hidden_field :cost_in_dollar %>
  </div>
  <% unless current_user %>
    <div class="row">
      <div class="form-group">
        <p>Please enter a valid email to receive notifications</p>
        <%= form.email_field :passenger_email, class: "form-control", placeholder: "* Passenger Email", required: true %>
      </div>
    </div>
  <% end %>
  <%= form.submit "Book Now", class: "btn btn-primary book"  %>
<% end %>