<% content_for :title do %>
  Bookings
<% end %>
<%= render partial: "users/page_heading", locals: { heading: "Your Reservations" } %>
<%= render partial: "users/heading_caption", locals: { caption: "You made #{pluralize(@bookings.count, 'reservation')} in the past." } %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% if @bookings.count.zero? %>
        <%= render partial: 'application/no_results_panel', locals: { message: no_bookings_message } %></h3>
      <% else %>
        <div class="table-responsive single-table-content">
          <table class="table">
            <thead>
              <tr>
                <th>Location</th>
                <th>Departure</th>
                <th>Booking ref</th>
                <th>Flight No.</th>
                <th>Flight Cost</th>
                <th>Passengers</th>
                <th colspan="2">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @bookings.each do |booking| %>
                <tr>
                  <td><%= booking.route_name %></td>
                  <td><%= date_human_format(booking.departure_date) %></td>
                  <td><%= booking.booking_ref %></td>
                  <td><%= booking.flight.name %></td>
                  <td>$ <%= booking.cost_in_dollar %></td>
                  <td>
                    <% booking.passengers.each do |passenger| %>
                      <table class="passenger-content">
                          <tbody>
                              <tr>
                                  <td><%= passenger.full_name %></td>
                              </tr>
                          </tbody>
                      </table>
                    <% end %>
                  </td>
                  <% if booking.flight.departed? %>
                    <td>
                      <%= tooltip_element("Edit") %>
                    </td>
                    <td>
                      <%= tooltip_element("Cancel") %>
                    </td>
                  <% else %>
                    <td>
                      <%= link_to 'Edit', edit_booking_path(booking) %>
                    </td>
                    <td>
                      <%= link_to 'Cancel', booking, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <%= will_paginate @bookings %>
    </div>
  </div>
</div>
