<% content_for :heading do %>
  You just made a reservation!
<% end %>
<tr>
  <td style="display: block; clear: both; max-width: 580px !important; margin: 0 auto; padding: 0;">
    <table>
      <tr>
          <td style="margin: 0; padding: 30px 35px;" bgcolor="white">

              <h2 style="font-size: 22px; font-weight: 600; line-height: 1.25; margin: 0 0 20px; padding: 0;">Hi <%= @booking.user_first_name %>,</h2>
              
              <p style="font-size: 16px; margin: 0 0 20px; padding: 0;">
                  You have successfully made reservation for <span style="font-weight: 500"><%= @booking.decorated_passengers.map(&:full_name).join(", ") %></span> for a flight from <%= @booking.departure %> to <%= @booking.arrival %>. Your flight cost was $ <%= @booking.cost_in_dollar %>.
                  <p>Thanks for using Kuruka.</p> 
              </p>

              <table align="center">
                  <tr style="font-size: 100%; margin: 0; padding: 0;">
                      <td align="center">
                          <p >
                              <a href="<%= url_for(host: ENV['app_host'], controller: "bookings", action: "confirmation", id: @booking.id) %>" target="_blank" style="color: white; text-decoration: none; font-weight: bold; border-radius: 2px; background: #0f93db; margin: 0; padding: 10px; border: none;">View your ticket here
                              </a>
                          </p>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
    </table>
  </td>
</tr>