<!DOCTYPE html>
<html>
  <head>
    <title>Kuruka</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'ico/k-logo.png', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'ico/k-logo.png', rel: 'shortcut icon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= yield %>


    <%= render "layouts/contact_form"%>
    <%= render "layouts/login_modal"%>
    <%= render "layouts/footer"%>
  </body>
</html>
