<!DOCTYPE html>
<html>
  <head>
    <title>Kuruka | <%= yield :title %></title>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'ico/k-logo.png', rel: 'apple-touch-icon' %>
    <%= favicon_link_tag 'ico/k-logo.png', rel: 'shortcut icon' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="loader"></div>
    <%= render "application/nav" %>
    <%= yield %>
    <%= render "application/contact_form" %>
    <%= render "application/footer" %>
    <%= render "application/login_modal" %>
  </body>
  <%= render partial: "application/application", formats: [:js] %>
</html>
